

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    padding: 15px 20px;
    border-bottom: 5px solid black;
    font-family: "Inconsolata", monospace;
}
.ola-head{
    margin: 0;
    padding: 0;
}
.UsuarioMind{
    width: 60px;
    cursor: pointer;
}



.lupa{
    width: 25px;
}

header div{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.h2-header{
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.inicio-h2{
    color: white;
    text-shadow: 1px 2px 0.5px black, 2px 1px 0.5px black, -1px -2px 0.5px black, -2px -1px 0.5px black, 1px -1px black, 2px -2px black, -2px 2px black;
}

.h2-header:hover{
    font-size: 17px;
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
    }
    header div {
        flex-direction: column;
        gap: 10px;
    }
}
